<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ta_back</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>env</param-name>
    <param-value>/WEB-INF/classes.prop</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.talkabout.control.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpServlet</display-name>
    <servlet-name>SignUpServlet</servlet-name>
    <servlet-class>com.talkabout.control.SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpServlet</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.talkabout.control.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NickNameServlet</display-name>
    <servlet-name>NickNameServlet</servlet-name>
    <servlet-class>com.talkabout.control.NickNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NickNameServlet</servlet-name>
    <url-pattern>/nickname</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LeaveMemberServlet</display-name>
    <servlet-name>LeaveMemberServlet</servlet-name>
    <servlet-class>com.talkabout.control.LeaveMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LeaveMemberServlet</servlet-name>
    <url-pattern>/leavemember</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DebateServelt</display-name>
    <servlet-name>DebateServelt</servlet-name>
    <servlet-class>com.talkabout.control.DebateServelt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DebateServelt</servlet-name>
    <url-pattern>/debrecruit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DebateSaveServlet</display-name>
    <servlet-name>DebateSaveServlet</servlet-name>
    <servlet-class>com.talkabout.control.DebateSaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DebateSaveServlet</servlet-name>
    <url-pattern>/debatesave</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>DebateCommentSelectServlet</display-name>
    <servlet-name>DebateCommentSelectServlet</servlet-name>
    <servlet-class>com.talkabout.control.DebateCommentSelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DebateCommentSelectServlet</servlet-name>
    <url-pattern>/debatecommentselect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DebateCommentInsertServlet</display-name>
    <servlet-name>DebateCommentInsertServlet</servlet-name>
    <servlet-class>com.talkabout.control.DebateCommentInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DebateCommentInsertServlet</servlet-name>
    <url-pattern>/debatecommentinsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DebateCommentDeleteServlet</display-name>
    <servlet-name>DebateCommentDeleteServlet</servlet-name>
    <servlet-class>com.talkabout.control.DebateCommentDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DebateCommentDeleteServlet</servlet-name>
    <url-pattern>/debatecommentdelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DebateCommentUpdateServlet</display-name>
    <servlet-name>DebateCommentUpdateServlet</servlet-name>
    <servlet-class>com.talkabout.control.DebateCommentUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DebateCommentUpdateServlet</servlet-name>
    <url-pattern>/debatecommentupdate</url-pattern>
  </servlet-mapping>
</web-app>