<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ta_back</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>env</param-name>
    <param-value>/WEB-INF/classes.prop</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.talkabout.control.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpServlet</display-name>
    <servlet-name>SignUpServlet</servlet-name>
    <servlet-class>com.talkabout.control.SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpServlet</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.talkabout.control.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NickNameServlet</display-name>
    <servlet-name>NickNameServlet</servlet-name>
    <servlet-class>com.talkabout.control.NickNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NickNameServlet</servlet-name>
    <url-pattern>/nickname</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LeaveMemberServlet</display-name>
    <servlet-name>LeaveMemberServlet</servlet-name>
    <servlet-class>com.talkabout.control.LeaveMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LeaveMemberServlet</servlet-name>
    <url-pattern>/leavemember</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DebateServlet</display-name>
    <servlet-name>DebateServlet</servlet-name>
    <servlet-class>com.talkabout.control.DebateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DebateServlet</servlet-name>
    <url-pattern>/debrecruit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DebateSaveServlet</display-name>
    <servlet-name>DebateSaveServlet</servlet-name>
    <servlet-class>com.talkabout.control.DebateSaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DebateSaveServlet</servlet-name>
    <url-pattern>/debatesave</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DebateCommentSelectServlet</display-name>
    <servlet-name>DebateCommentSelectServlet</servlet-name>
    <servlet-class>com.talkabout.control.DebateCommentSelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DebateCommentSelectServlet</servlet-name>
    <url-pattern>/debatecommentselect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DebateCommentInsertServlet</display-name>
    <servlet-name>DebateCommentInsertServlet</servlet-name>
    <servlet-class>com.talkabout.control.DebateCommentInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DebateCommentInsertServlet</servlet-name>
    <url-pattern>/debatecommentinsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DebateCommentDeleteServlet</display-name>
    <servlet-name>DebateCommentDeleteServlet</servlet-name>
    <servlet-class>com.talkabout.control.DebateCommentDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DebateCommentDeleteServlet</servlet-name>
    <url-pattern>/debatecommentdelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DebateCommentUpdateServlet</display-name>
    <servlet-name>DebateCommentUpdateServlet</servlet-name>
    <servlet-class>com.talkabout.control.DebateCommentUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DebateCommentUpdateServlet</servlet-name>
    <url-pattern>/debatecommentupdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NoticeSaveServlet</display-name>
    <servlet-name>NoticeSaveServlet</servlet-name>
    <servlet-class>com.talkabout.control.NoticeSaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoticeSaveServlet</servlet-name>
    <url-pattern>/noticesave</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardListServlet</display-name>
    <servlet-name>BoardListServlet</servlet-name>
    <servlet-class>com.talkabout.control.BoardListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardListServlet</servlet-name>
    <url-pattern>/boardlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardInfoServlet</display-name>
    <servlet-name>BoardInfoServlet</servlet-name>
    <servlet-class>com.talkabout.control.BoardInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardInfoServlet</servlet-name>
    <url-pattern>/boardinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardWirteServlet</display-name>
    <servlet-name>BoardWirteServlet</servlet-name>
    <servlet-class>com.talkabout.control.BoardWirteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardWirteServlet</servlet-name>
    <url-pattern>/boardwrite</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardSearchServlet</display-name>
    <servlet-name>BoardSearchServlet</servlet-name>
    <servlet-class>com.talkabout.control.BoardSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardSearchServlet</servlet-name>
    <url-pattern>/boardsearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardViewsServlet</display-name>
    <servlet-name>BoardViewsServlet</servlet-name>
    <servlet-class>com.talkabout.control.BoardViewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardViewsServlet</servlet-name>
    <url-pattern>/boardviews</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardDeleteServlet</display-name>
    <servlet-name>BoardDeleteServlet</servlet-name>
    <servlet-class>com.talkabout.control.BoardDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardDeleteServlet</servlet-name>
    <url-pattern>/boarddelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardEditServlet</display-name>
    <servlet-name>BoardEditServlet</servlet-name>
    <servlet-class>com.talkabout.control.BoardEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardEditServlet</servlet-name>
    <url-pattern>/boardedit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardLikeServlet</display-name>
    <servlet-name>BoardLikeServlet</servlet-name>
    <servlet-class>com.talkabout.control.BoardLikeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardLikeServlet</servlet-name>
    <url-pattern>/boardlike</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardComListServlet</display-name>
    <servlet-name>BoardComListServlet</servlet-name>
    <servlet-class>com.talkabout.control.BoardComListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardComListServlet</servlet-name>
    <url-pattern>/boardcomlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardComWriteServlet</display-name>
    <servlet-name>BoardComWriteServlet</servlet-name>
    <servlet-class>com.talkabout.control.BoardComWriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardComWriteServlet</servlet-name>
    <url-pattern>/boardcomwrite</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardComEditServlet</display-name>
    <servlet-name>BoardComEditServlet</servlet-name>
    <servlet-class>com.talkabout.control.BoardComEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardComEditServlet</servlet-name>
    <url-pattern>/boardcomedit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardComDeleteServlet</display-name>
    <servlet-name>BoardComDeleteServlet</servlet-name>
    <servlet-class>com.talkabout.control.BoardComDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardComDeleteServlet</servlet-name>
    <url-pattern>/boardcomdelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyBoardComServlet</display-name>
    <servlet-name>MyBoardComServlet</servlet-name>
    <servlet-class>com.talkabout.control.MyBoardComServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyBoardComServlet</servlet-name>
    <url-pattern>/myboardcom</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NoticeServlet</display-name>
    <servlet-name>NoticeServlet</servlet-name>
    <servlet-class>com.talkabout.control.NoticeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoticeServlet</servlet-name>
    <url-pattern>/notice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DebateBattleServlet</display-name>
    <servlet-name>DebateBattleServlet</servlet-name>
    <servlet-class>com.talkabout.control.DebateBattleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DebateBattleServlet</servlet-name>
    <url-pattern>/debatebattle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DebateBattleDetailServlet</display-name>
    <servlet-name>DebateBattleDetailServlet</servlet-name>
    <servlet-class>com.talkabout.control.DebateBattleDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DebateBattleDetailServlet</servlet-name>
    <url-pattern>/debatebattledetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BroadSocket</display-name>
    <servlet-name>BroadSocket</servlet-name>
    <servlet-class>com.talkabout.control.BroadSocket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BroadSocket</servlet-name>
    <url-pattern>/broadsocket</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetEvidenceServlet</display-name>
    <servlet-name>SetEvidenceServlet</servlet-name>
    <servlet-class>com.talkabout.control.SetEvidenceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetEvidenceServlet</servlet-name>
    <url-pattern>/setevidence</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetVoteServlet</display-name>
    <servlet-name>SetVoteServlet</servlet-name>
    <servlet-class>com.talkabout.control.SetVoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetVoteServlet</servlet-name>
    <url-pattern>/setvote</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>DebateLikeServlet</display-name>
    <servlet-name>DebateLikeServlet</servlet-name>
    <servlet-class>com.talkabout.control.DebateLikeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DebateLikeServlet</servlet-name>
    <url-pattern>/deblike</url-pattern>
  </servlet-mapping>
</web-app>