.metadata/.plugins/com.genuitec.eclipse.monitor/myeclipse-usage.properties
.metadata/.plugins/org.eclipse.core.resources/6.snap
.metadata/.plugins/org.eclipse.core.resources/.history/5c/801b3a8b1dda001b1e94c35675a5b5bc
.metadata/.plugins/org.eclipse.core.resources/.projects/Servers/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Servers/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/ta_back/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/ta_back/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/ta_front/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/ta_front/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.wst.validation/dep.index
ta_back/build/classes/com/talkabout/dto/Audience.class
ta_back/build/classes/com/talkabout/dto/Battle_detail.class
ta_back/build/classes/com/talkabout/dto/battle_result.class
ta_back/build/classes/com/talkabout/dto/BattleDetail.class
ta_back/build/classes/com/talkabout/dto/BattleResult.class
ta_back/build/classes/com/talkabout/dto/Board.class
ta_back/build/classes/com/talkabout/dto/BoardComment.class
ta_back/build/classes/com/talkabout/dto/BoardLike.class
