.metadata/.lock
.metadata/.log
.metadata/defender.check
.metadata/version.ini
.metadata/.mylyn/repositories.xml.zip
.metadata/.plugins/com.genuitec.eclipse.devstyle/recent.json
.metadata/.plugins/com.genuitec.eclipse.monitor/myeclipse-usage.properties
.metadata/.plugins/com.genuitec.eclipse.ui.common.platform/color-definitions-fix.css
.metadata/.plugins/com.genuitec.eclipse.ui.common.platform/colors-org.eclipse.buildship.ui-1231266899.css
.metadata/.plugins/com.genuitec.eclipse.ui.common.platform/colors-org.eclipse.egit.ui-1849137576.css
.metadata/.plugins/com.genuitec.eclipse.ui.common.platform/colors-org.eclipse.epp.mpc.ui.css--1027399938.css
.metadata/.plugins/com.genuitec.eclipse.ui.common.platform/colors-org.eclipse.jdt.ui-326703266.css
.metadata/.plugins/com.genuitec.eclipse.ui.common.platform/colors-org.eclipse.mylyn.tasks.ui--477129374.css
.metadata/.plugins/com.genuitec.eclipse.ui.common.platform/splash-fix.css
.metadata/.plugins/org.eclipse.core.resources/0.snap
.metadata/.plugins/org.eclipse.core.resources/.history/49/00e5ee33ecd7001b1f88ce631b4ca5e4
.metadata/.plugins/org.eclipse.core.resources/.history/4d/60cfef33ecd7001b1f88ce631b4ca5e4
.metadata/.plugins/org.eclipse.core.resources/.history/61/902d3925ecd7001b1f88ce631b4ca5e4
.metadata/.plugins/org.eclipse.core.resources/.history/66/e078f333ecd7001b1f88ce631b4ca5e4
.metadata/.plugins/org.eclipse.core.resources/.history/67/f02ef133ecd7001b1f88ce631b4ca5e4
.metadata/.plugins/org.eclipse.core.resources/.history/77/10663a25ecd7001b1f88ce631b4ca5e4
.metadata/.plugins/org.eclipse.core.resources/.history/81/00a26825ecd7001b1f88ce631b4ca5e4
.metadata/.plugins/org.eclipse.core.resources/.history/8b/50f46625ecd7001b1f88ce631b4ca5e4
.metadata/.plugins/org.eclipse.core.resources/.history/94/d03a3c25ecd7001b1f88ce631b4ca5e4
.metadata/.plugins/org.eclipse.core.resources/.history/a7/90b5f233ecd7001b1f88ce631b4ca5e4
.metadata/.plugins/org.eclipse.core.resources/.history/eb/b092f033ecd7001b1f88ce631b4ca5e4
.metadata/.plugins/org.eclipse.core.resources/.history/f5/30253d25ecd7001b1f88ce631b4ca5e4
.metadata/.plugins/org.eclipse.core.resources/.projects/ta_back/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/ta_back/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/ta_back/.indexes/5b/a8/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/ta_back/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/ta_front/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/ta_front/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/ta_front/.indexes/5b/a8/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/ta_front/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/ccw.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.adobe.flexide.as.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.adobe.flexide.css.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.adobe.flexide.mxml.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.axmor.eclipse.typescript.editor.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.dubture.twig.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.genuitec.eclipse.codetogether.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.genuitec.eclipse.monitor.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.genuitec.eclipse.sqlexplorer.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.genuitec.eclipse.theming.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.github.eclipsecolortheme.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.github.rustdt.ide.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.google.eclipse.protobuf.Protobuf.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.googlecode.goclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.palantir.typescript.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.powerflasher.fdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.puppetlabs.geppetto.module.dsl.Module.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.puppetlabs.geppetto.pp.dsl.PP.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.spket.js.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.spket.xml.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.wolfram.eclipse.MEET.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/de.walware.statet.base.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/de.walware.statet.r.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/eclihx.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/jp.gr.java_conf.ussiy.app.propedit.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/jsonedit-core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/net.sf.eclipsefp.haskell.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/net.sourceforge.texlipse.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/net.vtst.ow.eclipse.less.Less.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.apache.ivyde.eclipse.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.cfeclipse.cfml.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.chromium.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.cloudsmith.geppetto.pp.dsl.PP.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.codehaus.groovy.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.dadacoalition.yedit.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.angularjs.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ant.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.dsf.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.make.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.datatools.sqltools.sqleditor.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.dltk.ruby.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.dltk.tcl.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.e4.CSS.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.e4.ui.css.swt.theme.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.mpc.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jsch.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.j2ee.webservice.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.jsp.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.wikitext.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.pde.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.php.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.cvs.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.tm.terminal.control.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.genericeditor.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.navigator.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.css.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.dtd.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.html.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.jsdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.json.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.server.discovery.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.sse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.ws.service.policy.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.xml.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.xsl.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.xtend.core.Xtend.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.epic.perleditor.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.erlide.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.jboss.ide.eclipse.freemarker.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.nodeclipse.enide.editors.gradle.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.nodeclipse.enide.editors.jade.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.python.pydev.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.scala-ide.play2.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.scala-ide.sdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.sourceforge.jsonedit-core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.sweetlemonade.eclipse.json.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/winterwell.markdown.prefs
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.jdt.core/1039347805.index
.metadata/.plugins/org.eclipse.jdt.core/1102226877.index
.metadata/.plugins/org.eclipse.jdt.core/1257068310.index
.metadata/.plugins/org.eclipse.jdt.core/12619151.index
.metadata/.plugins/org.eclipse.jdt.core/1548685089.index
.metadata/.plugins/org.eclipse.jdt.core/1938704437.index
.metadata/.plugins/org.eclipse.jdt.core/2459753851.index
.metadata/.plugins/org.eclipse.jdt.core/2503696852.index
.metadata/.plugins/org.eclipse.jdt.core/2655310788.index
.metadata/.plugins/org.eclipse.jdt.core/2867619126.index
.metadata/.plugins/org.eclipse.jdt.core/2970263172.index
.metadata/.plugins/org.eclipse.jdt.core/2998227262.index
.metadata/.plugins/org.eclipse.jdt.core/3829792037.index
.metadata/.plugins/org.eclipse.jdt.core/395326781.index
.metadata/.plugins/org.eclipse.jdt.core/4051931668.index
.metadata/.plugins/org.eclipse.jdt.core/4073631159.index
.metadata/.plugins/org.eclipse.jdt.core/482580299.index
.metadata/.plugins/org.eclipse.jdt.core/489408304.index
.metadata/.plugins/org.eclipse.jdt.core/769271706.index
.metadata/.plugins/org.eclipse.jdt.core/965971924.index
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.jst.j2ee/earLibrariesCache.index
.metadata/.plugins/org.eclipse.jst.j2ee.web/webLibrariesCache.index
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.16.0.20200318-1040.xml
.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
.metadata/.plugins/org.eclipse.rse.core/.log
.metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
.metadata/.plugins/org.eclipse.tm.terminal.view.ui/.executables/data.properties
.metadata/.plugins/org.eclipse.ui.intro/introstate
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/1220410037.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/1257068310.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/1731220445.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/2595943948.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/2720182620.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/2998227262.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/3612068858.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/savedIndexNames.txt
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/baseBrowserLibrary.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/browserWindow.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/dom5.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/system.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/xhr.js
.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
.metadata/.plugins/org.eclipse.wst.xml.core/default_catalog.xml
.metadata/.plugins/org.eclipse.wst.xml.core/system_catalog.xml
ta_back/.classpath
ta_back/.project
ta_back/.settings/.jsdtscope
ta_back/.settings/org.eclipse.jdt.core.prefs
ta_back/.settings/org.eclipse.wst.common.component
ta_back/.settings/org.eclipse.wst.common.project.facet.core.xml
ta_back/.settings/org.eclipse.wst.jsdt.ui.superType.container
ta_back/.settings/org.eclipse.wst.jsdt.ui.superType.name
ta_front/.classpath
ta_front/.project
ta_front/.settings/.jsdtscope
ta_front/.settings/org.eclipse.jdt.core.prefs
ta_front/.settings/org.eclipse.wst.common.component
ta_front/.settings/org.eclipse.wst.common.project.facet.core.xml
ta_front/.settings/org.eclipse.wst.jsdt.ui.superType.container
ta_front/.settings/org.eclipse.wst.jsdt.ui.superType.name
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.css.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.html.core.prefs
.metadata/.plugins/org.eclipse.jst.jsf.apache.trinidad.tagsupport/dtRezProvCache/myfaces.apache.org_trinidad/skinning/minimal.css
.metadata/.plugins/org.eclipse.jst.jsf.apache.trinidad.tagsupport/dtRezProvCache/myfaces.apache.org_trinidad/skinning/simple.css
.metadata/.plugins/org.eclipse.jst.jsf.apache.trinidad.tagsupport/dtRezProvCache/myfaces.apache.org_trinidad/skinning/images/close.gif
.metadata/.plugins/org.eclipse.jst.jsf.apache.trinidad.tagsupport/dtRezProvCache/myfaces.apache.org_trinidad/skinning/images/list-bullet.gif
.metadata/.plugins/org.eclipse.jst.jsf.apache.trinidad.tagsupport/dtRezProvCache/myfaces.apache.org_trinidad/skinning/images/logo-dark.gif
.metadata/.plugins/org.eclipse.jst.jsf.apache.trinidad.tagsupport/dtRezProvCache/myfaces.apache.org_trinidad/skinning/images/tab3-bot-deselected.gif
.metadata/.plugins/org.eclipse.jst.jsf.apache.trinidad.tagsupport/dtRezProvCache/myfaces.apache.org_trinidad/skinning/images/tab3-bot-end-selected.gif
.metadata/.plugins/org.eclipse.jst.jsf.apache.trinidad.tagsupport/dtRezProvCache/myfaces.apache.org_trinidad/skinning/images/tab3-bot-mid-selected.gif
.metadata/.plugins/org.eclipse.jst.jsf.apache.trinidad.tagsupport/dtRezProvCache/myfaces.apache.org_trinidad/skinning/images/tab3-bot-start-selected.gif
.metadata/.plugins/org.eclipse.jst.jsf.apache.trinidad.tagsupport/dtRezProvCache/myfaces.apache.org_trinidad/skinning/images/tab3-end-deselected.gif
.metadata/.plugins/org.eclipse.jst.jsf.apache.trinidad.tagsupport/dtRezProvCache/myfaces.apache.org_trinidad/skinning/images/tab3-end-join-deselected-to-deselected.gif
.metadata/.plugins/org.eclipse.jst.jsf.apache.trinidad.tagsupport/dtRezProvCache/myfaces.apache.org_trinidad/skinning/images/tab3-end-join-selected-to-deselected.gif
.metadata/.plugins/org.eclipse.jst.jsf.apache.trinidad.tagsupport/dtRezProvCache/myfaces.apache.org_trinidad/skinning/images/tab3-end-selected.gif
.metadata/.plugins/org.eclipse.jst.jsf.apache.trinidad.tagsupport/dtRezProvCache/myfaces.apache.org_trinidad/skinning/images/tab3-mid-deselected.gif
.metadata/.plugins/org.eclipse.jst.jsf.apache.trinidad.tagsupport/dtRezProvCache/myfaces.apache.org_trinidad/skinning/images/tab3-mid-selected.gif
.metadata/.plugins/org.eclipse.jst.jsf.apache.trinidad.tagsupport/dtRezProvCache/myfaces.apache.org_trinidad/skinning/images/tab3-start-deselected.gif
.metadata/.plugins/org.eclipse.jst.jsf.apache.trinidad.tagsupport/dtRezProvCache/myfaces.apache.org_trinidad/skinning/images/tab3-start-join-deselected-to-deselected.gif
.metadata/.plugins/org.eclipse.jst.jsf.apache.trinidad.tagsupport/dtRezProvCache/myfaces.apache.org_trinidad/skinning/images/tab3-start-join-selected.gif
.metadata/.plugins/org.eclipse.jst.jsf.apache.trinidad.tagsupport/dtRezProvCache/myfaces.apache.org_trinidad/skinning/images/tab3-start-join-selected-to-deselected.gif
.metadata/.plugins/org.eclipse.jst.jsf.apache.trinidad.tagsupport/dtRezProvCache/myfaces.apache.org_trinidad/skinning/images/tab3-start-selected.gif
