ta_front/.classpath
ta_front/.settings/.jsdtscope
ta_front/.settings/org.eclipse.core.resources.prefs
ta_front/.settings/org.eclipse.wst.common.component
ta_front/.settings/org.eclipse.wst.common.project.facet.core.xml
