<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.talkabout.dto.AdminMapper">
<!-- adLogin -->
<select id="AdLogin" parameterType="java.util.HashMap" resultType="Admin">
SELECT * FROM Admin WHERE admin_id = '${id}' and admin_pwd = '${pwd}'
</select>
</mapper> 	