<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.talkabout.dto.BoardMapper"> 
	<resultMap id="boardResultMap" type = "board" autoMapping="true">
		<id column="board_no"	property="board_no"/>
		<association property="board_member" javaType="member" autoMapping="true">
		</association>

		 
	</resultMap>
	<select id="lastRow" resultType="int">
	 SELECT RNUM FROM (SELECT ROWNUM AS RNUM FROM board ORDER BY ROWNUM DESC) WHERE ROWNUM = 1
	</select>
	<select id="searchLastRow" parameterType="string" resultType="int">
		SELECT RNUM FROM (SELECT ROWNUM AS RNUM FROM board WHERE board_type Like '%${word}%' or board_title LIKE '%${word}%' or board_contents LIKE '%${word}%' ORDER BY ROWNUM DESC) WHERE ROWNUM = 1
	</select>
	
	<!-- 검색기능 -->
	<select id="selectWord" parameterType = "java.util.HashMap" resultMap="boardResultMap">
		SELECT * 
		FROM (SELECT ROWNUM AS RNUM, board.* FROM board WHERE board_type Like '%${word}%' or board_title LIKE '%${word}%' or board_contents LIKE '%${word}%' ORDER BY board_no ASC) BOARD JOIN Member mem ON (board.BOARD_MEM = mem.member_no) 
		WHERE RNUM BETWEEN ${num_start_row} AND ${num_end_row}
		ORDER BY board_no DESC
	</select>
	
	<!-- 자유게시판 목록 -->
	<select id="selectAll" parameterType="hashmap" resultMap = "boardResultMap">
		SELECT * 
		FROM (SELECT ROWNUM AS RNUM, board.* FROM board ORDER BY board_no ASC) BOARD JOIN Member mem ON (board.BOARD_MEM = mem.member_no) 
		WHERE RNUM BETWEEN ${num_start_row} AND ${num_end_row}
		ORDER BY RNUM DESC
	</select>
	
	<!-- 게시글 상세보기 -->
	<select id="selectByBoardNo" parameterType="int" resultMap = "boardResultMap">
		<!-- SELECT * FROM BOARD board JOIN Member mem ON (board.BOARD_MEM = mem.member_no) WHERE board_no = #{board_no} -->
		<!--  SELECT board.*
		, mem.* 
		, boardcom.*
		, bl.boardlike_no
        , blm.member_no "blm.member_no"
        , blm.member_nickname "blm.member_nickname"
		
		FROM 
			BOARD board 
			JOIN Member mem ON (board.BOARD_MEM = mem.member_no) 
			left JOIN BOARDCOMMENT boardcom ON (board.BOARD_NO = boardcom.com_board) 
			left JOIN boardlike bl ON (board.board_no=bl.boardlike_board)
            left JOIN member blm ON (bl.boardlike_mem = blm.member_no)
		WHERE board_no = #{board_no} -->
		 SELECT board.*
		, mem.*
		,(select count (*) from boardlike where boardlike_board= #{board_no}) "boardlike_count"
		FROM 
			BOARD board 
			JOIN Member mem ON (board.BOARD_MEM = mem.member_no) 
		WHERE board_no = #{board_no}
	</select>
	
	<!-- 게시글 작성 -->
	<insert id="insert" parameterType= "board">
	 	INSERT INTO BOARD  VALUES(BOARD_SEQ.NEXTVAL, #{board_type}, #{board_title}, #{board_contents}, sysdate, 0, #{board_member.member_no})
	</insert>
	
	<!-- 게시글 수정 -->
	<!-- <update id="update" parameterType="board">
	 	UPDATE BOARD
	 	<set>
	 		<if test="board_type != null and !board_type.equals=''">Board_type=#{board_type},</if>
	 		<if test="board_title != null and !board_title.equals=''">Board_title=#{board_title},</if>
	 		<if test="board_contents != null and !board_contents.equals=''">Board_contents=#{board_contents},</if>
	 	</set>
	 	WHERE board_no = #{board_no}
	</update> -->
	<update id="update" parameterType = "board">
		UPDATE board
		SET board_title = #{board_title}, board_type = #{board_type}, board_contents = #{board_contents}
		WHERE board_no = #{board_no}
	</update>
	
	<!-- 조회수 증가 -->
	<update id="updateCount" parameterType="int">
		UPDATE BOARD SET board_views = board_views+1 WHERE board_no = #{board_no}
	</update>
	
	<!-- 게시글 삭제 -->
	<delete id="deleteByBoardNo" parameterType="int">
	 	DELETE BOARD WHERE board_no = #{board_no}
	</delete>
</mapper>