<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.talkabout.dto.DebateRecruitMapper">
<resultMap id="debateResultMap" type="debate"  autoMapping="true">
		<association javaType="member" property="debate_writer" autoMapping="true">
		 
		</association>
</resultMap>
  <select id="lastRow" resultType="string">
   SELECT RNUM FROM (SELECT ROWNUM AS RNUM FROM debate ORDER BY ROWNUM DESC) WHERE ROWNUM = 1
  </select>

  <select id="selectAll" resultMap="debateResultMap">
SELECT  *
FROM debate deb JOIN Member mem ON(deb.DEBATE_WRITER = mem.member_no)
ORDER BY deb.DEBATE_NO DESC
    <!-- SELECT * FROM customer WHERE id = #{aaa} -->
  </select>

</mapper>
