<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
   <settings>
      <setting name="jdbcTypeForNull" value="NULL" />
   </settings>
   <typeAliases>
      <!-- <typeAlias type="com.day.dto.RepBoard" alias="repboard" /> -->
      <typeAlias type="com.talkabout.dto.Admin" alias="admin"/>
      <typeAlias type="com.talkabout.dto.Board" alias="board"/>
      <typeAlias type="com.talkabout.dto.BoardComment" alias="boardcomment"/>
      <typeAlias type="com.talkabout.dto.BoardLike" alias="boardlike"/>
      <typeAlias type="com.talkabout.dto.Debate" alias="debate"/>
	  <typeAlias type="com.talkabout.dto.Member" alias="member"/>
   </typeAliases>
   <mappers>
   	<mapper resource="mybatisConfig/AdminMapper.xml"/>
   	<mapper resource="mybatisConfig/DebateRecruitMapper.xml"/>
   	<mapper resource="mybatisConfig/BoardCommentMapper.xml"/>
    <mapper resource="mybatisConfig/BoardMapper.xml"/>
    <mapper resource="mybatisConfig/BoardLikeMapper.xml"/>
    <mapper resource="mybatisConfig/LoginMapper.xml"/>
   </mappers>
</configuration>	