<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
		<!-- <setting name="mapUnderscoreToCamelCase" value="true" /> -->
	</settings>
	<typeAliases>
		 <typeAlias type="com.talkabout.dto.Admin" alias="admin" />
		 <typeAlias type="com.talkabout.dto.Debate" alias="debate" />
		 <typeAlias type="com.talkabout.dto.DebateDetail" alias="debatedetail" />
	</typeAliases>
	<mappers>
		<mapper resource="mybatisConfig/AdminMapper.xml" /> 
		<mapper resource="mybatisConfig/DebateMapper.xml" />
	</mappers>
</configuration>
