<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<typeAliases>
		<typeAlias type="com.talkabout.dto.Debate" alias="debate"/>
		<typeAlias type="com.talkabout.dto.Member" alias="member"/>
		<typeAlias type="com.talkabout.dto.DebateDetail" alias="debatedetail"/>
		<typeAlias type="com.talkabout.dto.Notice" alias="notice" />
		<typeAlias type="com.talkabout.dto.NoticeComment" alias="noticecomment" />
		<typeAlias type="com.talkabout.dto.Audience" alias="audience" />	
	</typeAliases>
	<mappers>
		<mapper resource="mybatisConfig/DebateRecruitMapper.xml"/> 
		<mapper resource="mybatisConfig/LoginMapper.xml"/>
		<mapper resource="mybatisConfig/NoticeMapper.xml"/>
		<mapper resource="mybatisConfig/NoticeCommentMapper.xml"/>
		<mapper resource="mybatisConfig/DebateBattleMapper.xml"/>
	</mappers>
</configuration>
