<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/NoticeModify.css" />
</head>
<body>
    <!-- 유튜브 참고 폼 -->
    <!-- https://www.youtube.com/watch?v=v7b45CVtDAU&list=WL&index=1&t=96s -->
    <div className="bg"></div>
    <form>
        <input type='text' name='name' placeholder='Name'/>
        <input type='text' name='email' placeholder='Email'/>
        <textarea name='text' placeholder='Message'></textarea>
        <input type='submit' value='submit' className='submit'/>
    </form>
</body>
</html>