.labelDiscuss p {
  color: #333;
  text-decoration: none;
  display: inline-block;
  padding: 5px 0;
  position: relative;
}
.labelDiscuss p:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  background: #ffb000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.writeView:hover .labelDiscuss p:after {
  width: 100%;
  left: 0;
}
