.flex-fill {
	list-style-type: none;
	margin: 0;
	padding: 0;
	color: black;
	width: 50%
	
}
#templatemo_main_nav{ 	
	color: black;
	background-color: white;
	width: auto;
}

.nav-item {
	color: white;
	background-color: #afd793;
	text-align:center;
	text-decoration: none;
	border: 2px solid #8cbd42;
	margin-left: 5px;
	margin-right: 5px;
	font-size: xx-large;
	border-radius: 20%;
}
.nav-link{
	color: green;
	font-size: xx-large;s
}
.nav-item:hover {
	background-color: green;
	color: white;
}

#myBtn{ 
	background-color: gray;
	color:white;
	border-radius: 9px;
	
}
#myBtn:hover{
	background-color: green;
	color: white;
}
.logout{
	background-color: gray;
	color:white;
	border-radius: 9px;
	
}










table {
	border-collapse: collapse;
}

#debateList {
	font-style: normal;
	color: black;
	background-color: white;
	border-style: none;
	border: 1px solid black;
	font-size: x-large;
	text-align: center;
	width: 50%;
}

#tablehead {
	font-style: normal;
	color: white;
	background: black;
	border: 1px solid black;
	font-size: x-large;
	border-bottom: 5px solid #afd793;
	text-align: center;
	width: 50%;
}

#tablecommentList {
	font-style: normal;
	color: black;
	background-color: #ffffff;
	border-radius: 10px;
	border: 1px ridge black;
	text-align: center;
	width: 30%;
}

#tablecommenttr {
	background-color: #88c460;
	color: white;
	border-bottom: 4px solid #afd793;
	text-align: center;
	width: 30%;
	border-radius: 10px;
}

#commentlist {
	border: 1px ridge black;
	text-align: center;
}

#tableinsert {
	font-style: normal;
	color: black;
	background-color: #c0c0c0;
	border-style: none;
	font-size: large;
	border: 1px ridge black;
	width: 30%;
}

#trinsert {
	width: 100%;
}

#insert_btn{
	background-color: gray;
	color:white;
	border-radius: 9px;
	
}
#insert_btn:hover {
	background-color: black;
	color: white;
}

#update_btn:hover {
	background-color: black;
	color: white;
}

#delete_btn:hover {
	background-color: black;
	color: white;
}